.shipment-card {
  border: 1px solid #808080;
  box-sizing: border-box;
  min-height: 150px;
  width: auto;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

i {
  font-size: 30px;
  box-sizing: border-box;
  color: #3898ec;
}

.flight-details {
  width: 100%;
  border-right: 1px solid #808080;
}

.path-and-quote {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  gap: 10px;
}

.flight-type-header,
.flight-delivery-date {
  box-sizing: border-box;
}

.flight-type-header {
  height: 30%;
  font-size: 14px;
  display: flex;
  gap: 10px;
  padding: 10px;
  color: inherit;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #808080;
}

p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flight-delivery-date {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
}

.flight-delivery-date > div:first-child {
  color: #4129c7;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}

.flight-delivery-date > div:nth-child(2) {
  font-size: 15;
}

.flight-delivery-date > div:last-child {
  font-size: 15;
  font-weight: bold;
}

.card-destination-header,
.card-quote-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.card-destination-header {
  height: 20%;
  color: white;
  font-weight: 600;
  display: flex;
  gap: 5px;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  background: blue;
}

.fa-arrow-right-long {
  color: white;
  font-size: 14px;
}

.card-quote-price {
  height: 80%;
  font-size: 40px;
}

@media only screen and (min-width: 600px) {
  .shipment-card {
    flex-direction: row;
    gap: 0px;
  }

  .flight-details {
    width: 40%;
  }

  .flight-type-header {
    justify-content: flex-start;
  }

  .path-and-quote {
    width: 60%;
    gap: 0px;
    padding: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .flight-details {
    width: 30%;
  }

  .path-and-quote {
    width: 70%;
  }
}